.folder-box {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 0 0px;
    padding-left: 20px;

}
.folder-box .service_blk {

    padding: 25px;

}
#no-post {
  text-align: center;
  font-size: 25px;
  color: red;
}
.services {
  border: 1px solid #ddd;
      padding: 15px;
margin-top: 30px;
margin-bottom: 30px;
}
.col-md-3 {
    text-align: center;
}
.prc_button {
  padding: 15px 15px;
  background: #099ed3;
  text-align: center;
  margin: 0px auto;
  width: 50%;
      margin-bottom: 30px;
       margin-top: 30px;
}
.pricing_button {
    color: white;
}
.pricing_button:hover {
    color: white;
}
.logo img {
    height: 40px;
}
.treeview-menu li a {
    padding: 12px 5px 12px 20px !important;
}
.glyphicon {
    margin-top: 7px;
}
.navbar-brand {
    color: white !important;
}
.navbar.navbar-default.navbar-static-top {
  background-color: #248afd;
  
}
.navbar-custom-menu > .navbar-nav > li {
 
  width: 150px !important;
}
.login-page .login-box {
    max-width: 725px;
    margin: 0px auto;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.15);
    width: 100%;
    padding: 30px;
}

.error{
color:red;
}
.login-box{
  margin:0 auto !important;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 26px;
	color: #413c35;
	background-color: #ffffff;
	height: 100vh;
}
.login-page, .register-page{background:none}
.login-logo, .register-logo{font-size:28px;line-height: 40px;}
.login-box, .register-box{max-width:460px;margin:18.5% auto;width:90%;min-height: 366px;}
.main-header .logo{line-height: 30px;}
.name {
    font-size: 20px;
}
/* .login-wraper {

    width: 100%; 
    display: inline-block;
    margin: 7% 0 7% 0;

} */
.skin-blue .main-header .logo:hover {
    background-color: none !important;
}
.error-message {
    color: red;
    font-size: 11px;
    float: left;
}
/* .login-wraper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px 10px;
  margin: auto;
} */
.error_block{
	border: 1px solid #ff0000;
}
.login-wraper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   width: 100%;
   min-height: 100%;
   padding: 20px 10px;
   margin: auto;
}
.main-header .navbar-custom-menu, .main-header .navbar-right{
	margin-right: 38px;
}
.login_box_new{background:#fff;margin-left:-15px}
.panel-register {
    color: #66757f;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
	text-align: center;
	padding:40px 0;
}

.panel-register .login-box-msg {
    font-size: 14px;
   /*  margin-top: 20px; */
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

.button_add{
margin-bottom:10px;
}

#crop_imaged a{
    float: left;
    width: 100%;
	margin-top: 10px;
}
.timing_sec,.title_opn_hrs{
	margin-top: 9px;
}
.title_opn_hrs{
    margin-bottom: 18px;
}

.hrr{
		display: none;
	}
	
.timing_sec label, .timing_sec .input-group.date{
	width:100% !important;
}	

.timing_sec .input-group.date{
	width:100% !important;
}	

.timing_sec .checkbox{
	margin-top:10px;
	margin-left:0 !important;
}
 
.timing_sec .input-group.date{
	 width:100% !important; 
	 max-width: 310px;
}


.login-box-body .glyphicon {
    position: absolute;
    /* top: 8px; */
}
.login-box-msg{
	color: #3c3c3c;
	font-weight: 600;
}

.login-box-body .error {
   color: red;
	font-size: 13px;
}

a{
	text-decoration:none !important;
}

#upload_link{
	/* float: left; */
}
#upload_link:hover{
	cursor:pointer;
}

.content-header .breadcrumb li a,.breadcrumb > li + li::before{
	color: #606060;
}

.styled-select {
   background: url(15xvbd5.png) no-repeat 90% 0;
   height: 29px;
   overflow: hidden;
   width: 120px;
   float: left;
}
.sidebar-menu .treeview-menu > li > a {
	padding: 10px 5px 10px 5px;
}

.styled-select select.lead_status {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 137px;
   color:#fff
}
.styled-select select option{color:#000}
.styled-select.slate {
   background: url(2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}
.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 120px;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.blue    { background-color: #3b8ec2; }

#loader img{
	max-width:80px;
	margin-top:10px;
	margin-bottom:10px;
}
 
.breadcrumb li a{
   text-transform:capitalize;
}
.error-page .headline { 
    font-size: 100px;
    font-weight: 300;
    text-align: center;
}
.error-page .error-content p { 
    text-align: center;
}
.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 210px;
    margin-top: 5px;
}
.action_links a{padding:0 5px}
.action_links a .fa {
    padding: 0 2px;
    color: #fd246a;
    font-size: 14px;
    position: relative;
    top: -6px;
}
#users td img{width: 140px;
    height: auto;}

/* Toggle button for enable/disable */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 22px;
	margin-bottom: 0;
}
.switch input {
    display: none;
}
.switch .slider.round {
    border-radius: 34px;
}
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DE4343;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);left:8px;
}
.switch .slider.round::before {
    border-radius: 50%;
}
.switch .slider::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch .slider {
    cursor: pointer;
}
.switch input:checked + .slider {
    background-color: #129212;
}
.msg_sec{display:none;}

/*  End Toggle button for enable/disable */

.table-responsive{
   overflow-x: hidden;
}

html, body, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
	font-weight: 400;
}

.img_sz{
	width:100px;
}

table.dataTable{
	font-size: 14px;
}

.usr-contnt .field, .usr-contnt .form-check{
    margin-bottom: 15px;
} 

.usr-contnt .main-img-preview img {
    float: none;
	max-width:200px;
}
.usr-contnt .btn{
    padding: 5px;
}

.main-header .navbar .logo { 
    margin-top: 4px;
}

.main-header .navbar .logo { 
    margin-top: 4px;
}

.img_err_sec{
	padding-top: 10px;
} 

.main-header .navbar .logo .logo-mini { 
    margin-top: 0px;
}

.breadcrumb li:last-child::before { 
    content: none !important; 
}
a, input {
    outline: none !important;
}
.rmv_pic, .rmv_pic:hover, .rmv_pic:focus{
    color: #fff;
}
.dtable_custom_controls {position: absolute;z-index: 50;margin-left: 61px;margin-top:3px}
.confirm_del .modal-dialog { 
    left: 0; 
}
#myModal .close{
	line-height: 4px;
}
.plan_sec, .prcnt_disc{
	display:none;
}

.promo_form .exp_on{
	line-height: 15px !important;
}
.promo_form em{
	font-size: 12px;
}

.plan_sec option.selected{
	background: #0078d7;
    color: #fff;
}
.login_area {

    display: -webkit-box;
    margin:0 auto;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 80px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}
@media (max-width:1366px) {
	.prc_button{width:80%;}
}
@media (max-width:1280px) {
	.action_links a {
    padding: 0 2px;
}
}
@media(max-width:1199px){ 
	.timing_sec .margin_btm{
		margin-left: 0px !important;
	} 
	.seprator{
		display: none;
	}
	 
	.hrr{
		display: block;
	}
	.timing_sec .input-group.date{
		 width:100% !important; 
		 /* max-width: 310px; */
	}

	.table-responsive{
	   overflow-x: auto;
	}	
} 
@media (max-width:1024px) {
	.dtable_custom_controls {
    position: relative;margin-top: 0px;
margin-bottom: 10px;margin-left:0px;
}
.action_links a {

    padding: 0 2px;

}
.action_links a .fa {

    padding: 0 0px;

}
}
@media(max-width:991px){ 
	.timing_sec .datetimepicker{
		margin-bottom: 12px;
	} 
	
	.timing_sec .input-group.date{
		 width:100% !important;  
		 max-width: 433px;
	} 
	.login_area{height:auto;}
}


@media(max-width:767px){
	.dtable_custom_controls {
		position: static;
		z-index: 50;text-align:center;
		margin-left: 0;
		margin-top: -3px;
	}
	/* .name {
		display: none;
	} */
	.login-logo, .register-logo{
		margin-bottom:5px
	}
	.panel-register {
		padding:10px 0;
	}
	.login-banner img {
		display: none;
	}
	.main-header .navbar-custom-menu, .main-header .navbar-right{
		margin-right: 3px;
	}
	.main-header .logo{font-size:16px;padding:10px 10px}
	.navbar-custom-menu .navbar-nav > li > a{line-height:30px}
	.timing_sec .margin_btm,.timing_sec .checkbox{
		margin-left: 0px !important;
	} 
	/* .timing_sec .datetimepicker{
		margin-bottom: 12px;
	}  */
	.timing_sec .input-group.date{
		/* width:100% !important; */
		max-width:350px;	
	}	
	
	.seprator{
		display: none;
	}
	div.dataTables_paginate {

    margin-bottom: 20px;

}
.main-header .sidebar-toggle{padding: 19px 15px;}
.navbar-custom-menu > .navbar-nav > li {
    width: 120px !important;
}
	/* .hrr{
		display: block;
	} */ 
} 
