.error{
color:red;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('/assets/userportal/fonts/HelveticaNeue-Bold.eot');
    src: url('/assets/userportal/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/userportal/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('/assets/userportal/fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('/assets/userportal/fonts/HelveticaNeue-Bold.ttf') format('truetype'),
        url('/assets/userportal/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('/assets/userportal/fonts/HelveticaNeue-Medium.eot');
    src: url('/assets/userportal/fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/userportal/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('/assets/userportal/fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('/assets/userportal/fonts/HelveticaNeue-Medium.ttf') format('truetype'),
        url('/assets/userportal/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica-NarrowCE-Regular';
    src: url('/assets/userportal/fonts/Helvetica-NarrowCE-Regular.eot');
    src: url('/assets/userportal/fonts/Helvetica-NarrowCE-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/userportal/fonts/Helvetica-NarrowCE-Regular.woff2') format('woff2'),
        url('/assets/userportal/fonts/Helvetica-NarrowCE-Regular.woff') format('woff'),
        url('/assets/userportal/fonts/Helvetica-NarrowCE-Regular.ttf') format('truetype'),
        url('/assets/userportal/fonts/Helvetica-NarrowCE-Regular.svg#Helvetica-NarrowCE-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica-Light';
    src: url('/assets/userportal/fonts/Helvetica-Light.eot');
    src: url('/assets/userportal/fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/userportal/fonts/Helvetica-Light.woff2') format('woff2'),
        url('/assets/userportal/fonts/Helvetica-Light.woff') format('woff'),
        url('/assets/userportal/fonts/Helvetica-Light.ttf') format('truetype'),
        url('/assets/userportal/fonts/Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: 'HelveticaNeue-Bold';
	font-size: 15px;
	line-height: 26px;
	color: #413c35;
	background-color: #ffffff;
	height: 100vh;
}
.login-page, .register-page{background:none}
.login-logo, .register-logo{font-size:28px;line-height: 40px;}
.login-box, .register-box{max-width:460px;margin:18.5% auto;width:90%;min-height: 366px;}
.main-header .logo{line-height: 30px;}
.name {
    font-size: 20px;
}
/* .login-wraper {

    width: 100%; 
    display: inline-block;
    margin: 7% 0 7% 0;

} */
.row.slider_heading {
    margin-bottom: 20px;
}
.skin-blue .main-header .logo:hover {
    background-color: none !important;
}
.error-message {
    color: red;
    font-size: 11px;
    float: left;
    margin-top: -20px;
    margin-bottom: 20px;
}
.login-fd .glyphicon.glyphicon-lock.form-control-feedback {

    line-height: 47px;
    padding-right: 40px;

}

/* .login-wraper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px 10px;
  margin: auto;
} */
.login-wraper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   width: 100%;
   min-height: 100%;
   padding: 20px 10px;
   margin: auto;
}
.main-header .navbar-custom-menu, .main-header .navbar-right{
	margin-right: 38px;
}
.login_box_new{background:#fff;margin-left:-15px}
.panel-register {
    color: #66757f;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
	text-align: center;
	padding:40px 0;
}

.panel-register .login-box-msg {
    font-size: 14px;
   /*  margin-top: 20px; */
}
.banner {
    background-image: url("../../frontend/images/banner-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center bottom;
}
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

.button_add{
margin-bottom:10px;
}

#crop_imaged a{
    float: left;
    width: 100%;
	margin-top: 10px;
}
.timing_sec,.title_opn_hrs{
	margin-top: 9px;
}
.title_opn_hrs{
    margin-bottom: 18px;
}

.hrr{
		display: none;
	}
	
.timing_sec label, .timing_sec .input-group.date{
	width:100% !important;
}	

.timing_sec .input-group.date{
	width:100% !important;
}	

.timing_sec .checkbox{
	margin-top:10px;
	margin-left:0 !important;
}
 
.timing_sec .input-group.date{
	 width:100% !important; 
	 max-width: 310px;
}


.login-box-body .glyphicon {
    position: absolute;
    /* top: 8px; */
}
.login-box-msg{
	color: #3c3c3c;
	font-weight: 600;
}

.login-box-body .error {
   color: red;
	font-size: 13px;
}

a{
	text-decoration:none !important;
}

#upload_link{
	/* float: left; */
}
#upload_link:hover{
	cursor:pointer;
}

.content-header .breadcrumb li a,.breadcrumb > li + li::before{
	color: #606060;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 90% 0;
   height: 29px;
   overflow: hidden;
   width: 120px;
   float: left;
}
.sidebar-menu .treeview-menu > li > a {
	padding: 10px 5px 10px 5px;
}

.styled-select select.lead_status {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 137px;
   color:#fff
}
.styled-select select option{color:#000}
.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}
.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 120px;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.blue    { background-color: #3b8ec2; }

#loader img{
	max-width:80px;
	margin-top:10px;
	margin-bottom:10px;
}
 
.breadcrumb li a{
   text-transform:capitalize;
}
.error-page .headline { 
    font-size: 100px;
    font-weight: 300;
    text-align: center;
}
.error-page .error-content p { 
    text-align: center;
}
.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 210px;
    margin-top: 5px;
}
.action_links a{padding:0 5px}
.action_links a .fa{padding:0 2px}

/* Toggle button for enable/disable */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 29px;
	margin-bottom: 0;
}
.switch input {
    display: none;
}
.switch .slider.round {
    border-radius: 34px;
}
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DE4343;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.switch .slider.round::before {
    border-radius: 50%;
}
.switch .slider::before {
    position: absolute;
    content: "";
    height: 21px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch .slider {
    cursor: pointer;
}
.switch input:checked + .slider {
    background-color: #129212;
}
.msg_sec{display:none;}

/*  End Toggle button for enable/disable */

.table-responsive{
   overflow-x: hidden;
}

html, body, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
	font-weight: 400;
}

.img_sz{
	width:100px;
}

table.dataTable{
	font-size: 14px;
}

.usr-contnt .field, .usr-contnt .form-check{
    margin-bottom: 15px;
} 

.usr-contnt .main-img-preview img {
    float: none;
	max-width:200px;
}
.usr-contnt .btn{
    padding: 5px;
}

.main-header .navbar .logo { 
    margin-top: 4px;
}

.main-header .navbar .logo { 
    margin-top: 9px;
}

.img_err_sec{
	padding-top: 10px;
} 

.main-header .navbar .logo .logo-mini { 
    margin-top: 7px;
}

.breadcrumb li:last-child::before { 
    content: none !important; 
}
a, input {
    outline: none !important;
}
.rmv_pic, .rmv_pic:hover, .rmv_pic:focus{
    color: #fff;
}
.dtable_custom_controls {position: absolute;z-index: 50;margin-left: 170px;margin-top:-3px}




/************************************************************/
.testi-cont p {

    font-family: 'Poppins', sans-serif;
    line-height: 35px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 17px;
    color: #464646;

}
.testi-cont h4 {

    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0;

}

.testi-cont span {

    font-family: 'Poppins', sans-serif;
    line-height: 35px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #000;

}

.testimonial {
    background-image: linear-gradient(180deg,rgba(255,255,255,0.73) 0%,rgba(255,255,255,0.75) 100%),url("/../assets/frontend/images/ACT-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding: 50px 0;
}
.testi-cont h1 {

    font-size: 30px;
    font-family: 'HelveticaNeue-Bold';
    padding: 0px;
    margin: 0px 0 30px 0;

}


.left-btn {

    text-align:left !important;
    padding-left: 10px;

}

.infoc-txt {
  padding: 50px 0;
}
.infoc-txt p {
  font-family: 'Helvetica-Light';
  font-size: 22px;
  line-height: 30px;
  margin: 0 0 30px 0;
}
.infoc-txt span {
  font-family: 'Helvetica-Light';
  font-size: 22px;
  line-height: 30px;

}
.infoc-txt h6 {

    font-size: 24px;
    font-weight: 400;
    padding: 0;
    color: #464646;
    margin:15px 0 10px 0;
    font-family: 'HelveticaNeue-Bold';
	

}
.infoc-txt h3 {
  font-family: 'HelveticaNeue-Bold';
  color: #4E53B5;
  margin: 60px 0 30px 0;
  font-size:30px;
}

.infoc-txt h1 {
    font-size: 50px;
    color: #000;
    padding: 0px;
    margin: 18px 0;
}
.analysis-form form {
    margin: 0 auto;
    max-width: 700px;
}
.analysis-form .form-group {
    display: inline-block;
    width: 100%;
}
.form-control {

    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    min-height: 44px;
    border: 1px solid #adadad;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;

}
.info-form {
    background: #eeeeee;
    padding-top: 100px;
}
textarea.form-control {
    height: auto;
    min-height: 160px;
}
.sd-btn {
    width: 100%;
    text-align: center;
}
.send-btn {

    background-color: #4E53B5;
    border-color: #4E53B5;
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    width: 200px;
    transition: all 0.3s ease;

}
.send-btn:hover, .send-btn:active {

    background: #4E53B5;
    color: #fff;
    border-color: #4E53B5;

}

.cr-heading {
    text-align: center;
    color: #4E53B5;
    margin: 0 0 50px 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 500;
}

.info-form {
    background: #ffffff;
    padding: 80px 0 50px 0;
}
.btn.dropdown-toggle.btn-default {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    min-height: 44px;
	border: none !important;
	font-family: 'Poppins', sans-serif;
	color: #949494;
	font-weight: 300;
	border: 1px solid #ddd !important; 
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: 0px !important;
}
.dropdown-menu.open {
    border: 0px;
    border-radius: 0px;
}

.copy-cont {
  background-color: #323232;
  color: #fff;
  text-align: center;
}
.copy-cont p {
  padding: 10px 0px;
  margin: 0px;
  font-size: 14px;
}
.login-box-body .glyphicon {
    position: absolute;
    top: 8px;
}
.glyphicon-envelope::before {
    content: "\2709";
}

.login-cont {
    background-image: url("/../assets/frontend/images/login-bg-img.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0;
}

.login-fd {
    background-color: #ffffff;
    text-align: center;
    padding: 60px 10px;
    width: 100%;
    display: inline-block;
    box-shadow: 0px 0px 11px 2px #505050;
}

.login-fd img {
    width: 150px;
    margin-bottom: 20px;
}

.login-fd h1 {

    padding: 10px 0 8px 0;
    margin: 0px;
    color: #464646;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.login-fd p {

    font-size: 16px;
    color: #4E53B5;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

}

.has-feedback .form-control {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.complaint_frm .error-message{
	margin-top: 0px;
	font-size: 14px;
}

.complaint_frm .error_block{
	border: 1px solid #ff0000;
}

.complaint_frm #profile_update:focus{
	outline:none;
}
.info-cont {
    background-color: #F2F2F2;
}
.infoc-txt h1 {
	font-family: 'HelveticaNeue-Bold';
    font-size: 44px;
    color: #464646;
    padding: 0px;
    margin: 18px 0;
   
}
/************************************************************/

/*---------------------------Header CSS----------------------------------*/


#main-header .container {
    position: relative;
    width: 80%;
    max-width: 1080px;
    margin: auto;
}
#main-header .container {
    position: relative;
    text-align: left;
}
#main-header .container {
    max-width: 1280px;
}
#main-header, #et-top-navigation {
    font-family: 'HelveticaNeue-Medium',Helvetica,Arial,Lucida,sans-serif;
}

#main-header {
    -webkit-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    -moz-transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
    transition: background-color 0.4s, color 0.4s, transform 0.4s, opacity 0.4s ease-in-out;
}
#main-header.et-disabled-animations * {
	transition-duration: 0s !important;
}
 #main-header{
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
#main-header {
    position: relative;
    z-index: 99999;
    top: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-weight: 500;
    line-height: 23px;
	transition: 0.2s;
	min-height: 68px;
}
#main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu {
    background-color: rgba(255,255,255,0.7);
}

.header-sticked #main-header{
	background-color:#fff;
	min-height: 54px;
}
#main-header {
    box-shadow: none;
}
#main-header, #top-header {
    position: fixed;
}

article, aside, footer, header, hgroup, nav, section {
    display: block;
}
.et_search_outer {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.container.et_search_form_container {
    position: relative;
    height: 1px;
    opacity: 0;
}
form.et-search-form {
    background: rgba(0, 0, 0, 0) !important;
}
.et-search-form {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.et-search-form .icon {
    position: absolute;
    top: 18px;
     right: 10px;
    transform: translateY(-50%);
	font-family: "Font Awesome 5 Free" !important;
	content: "\f002";
	font-weight: 900;
}

.et-search-form input::before {
    padding: 11px;
    top: -7px !important;
    text-align: right !important;
    left: auto !important;
    right: 0px;
    content: "\f002";
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
}
.et-search-form input {
	margin: 4px 0 0 15px !important;
    border: 1px solid #B1B1B1;
    width: 100px;
    height: 28px;
    border-radius: 30px;
    margin-top: 8px;
    font-size: 12px;
    color: #B1B1B1 !important;
    background: #ffffff !important;
	float:right	;
	padding: 0px 0px 0px 11px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	
}

.et-search-form input[type=search]:focus {
	width: 500px;
	background: transparent;
	border-color: #B1B1B1;
	-webkit-box-shadow: 0 0 0 rgba(109,207,246,.8);
	-moz-box-shadow: 0 0 0 rgba(109,207,246,.8);
	box-shadow: 0 0 0 rgba(109,207,246,.8);
}

/* .et_search_outer .et-search-form input {
    width: 78% !important;
} */
.et-search-form input {
    top: 5px;
}
.et-search-field:focus + .fa{
   display: none;
}
.et-search-field:focus + .fa + .fa {
   display: block;
}
.et-search-field + .fa + .fa {
   display: none;
}

span.et_close_search_field {
    top: 4px;
}
span.et_close_search_field {
    display: block;
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}
span.et_close_search_field::after {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "ETmodules";
    font-size: 32px;
    font-weight: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    text-transform: none;
    content: "\4d";
    speak: none;
}
span.et_close_search_field::after, #et-top-navigation .et-cart-info {
    color: #464646;
}

span.logo_helper {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
#et-top-navigation {
    padding: 20px 0 !important;
}
.header-sticked #et-top-navigation{
	 padding: 10px 0 !important;
}
#et-top-navigation {
    float: right;
}
nav#top-menu-nav, #top-menu, nav.fullwidth-menu-nav, .fullwidth-menu {
    float: left;
}
#top-menu-nav, #top-menu {
    line-height: 0;
}
article, aside, footer, header, hgroup, nav, section {
    display: block;
}

#et_top_search {
    display: block;
    float: right;
    position: relative;
   width: 100px;
    margin:0;
}
#et_top_search {
    
}
nav#top-menu-nav, #top-menu, nav.fullwidth-menu-nav, .fullwidth-menu {
    float: left;
}
#top-menu-nav, #top-menu {
    line-height: 0;
}
ol, ul {
    list-style: none;
}
#top-menu li {
    padding-right: 0px;
}
#top-menu li {
    display: inline-block;
    padding-right: 22px;
    font-size: 14px;
}
#top-menu li {
    padding-right: 0px;
}
#et-secondary-menu li, #top-menu li {
    word-wrap: break-word;
}
.nav li {
    position: relative;
    line-height: 1em;
}
#top-menu li.current-menu-item > a {
    background: #4e53b5;
    color: #fff;
    border-radius: 30px;
}
#et_mobile_nav_menu {
    display: none;
    float: right;
}
#logo {
    -webkit-transform: none !important;
}
#top-menu-nav > ul > li > a:hover, #et-secondary-menu > ul > li > a:hover, #et-info-email:hover, .et-social-icons a:hover {
    opacity: 0.7;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#top-menu li a {
    padding: 10px 20px !important;
    border-radius: 3px;
   /*  font-family: 'HelveticaNeue-Medium'; */
    font-weight: normal;
    font-style: normal;
}
#top-menu a{color:#464646}
#top-menu li a {
    font-size: 15px;
}
#top-menu li a:hover, #top-menu li li a:hover {
    color: #fff !important;
    background: #4e53b5;
    border-radius: 30px;
    opacity: 1 !important;
}

#logo {
    display: inline-block;
    float: none;
    max-height: 54%;
    margin-bottom: 0;
    vertical-align: middle;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
}
#logo {
    max-height: 86%;
}
img {
    max-width: 100%;
    height: auto;
}
.logo_container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.logo_container {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#et_search_icon::before {
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 17px;
    content: "\55";
}

#et_search_icon::before {
    color: #B1B1B1 !important;
}


#main-header #et_top_search #et_search_icon::before {
    padding: 11px;
    top: -7px !important;
    text-align: right !important;
    left: auto !important;
    right: 0px;
    content: "\f002";
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
}


#main-header #et_top_search #et_search_icon::after {
    content: "Search";
    margin-left: 10px;
    top: 2px;
    position: relative;
}
#main-header #et_top_search #et_search_icon {
    position: static;
}
.mobile_menu_bar {
    display: block;
    position: relative;
    line-height: 0;
}


.et_search_form_container {
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
}

.container.et_search_form_container {
	position: relative;
	height: 1px;
	opacity: 0;
}

.container.et_search_form_container.et_pb_search_visible {
	z-index: 999;
	-webkit-animation: fadeInTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
	-moz-animation: fadeInTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
	-o-animation: fadeInTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
	animation: fadeInTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.et_pb_search_visible.et_pb_no_animation {
	opacity: 1;
}

.et_pb_search_form_hidden {
	-webkit-animation: fadeOutTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
	-moz-animation: fadeOutTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
	-o-animation: fadeOutTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
	animation: fadeOutTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

span.et_close_search_field {
	display: block;
	position: absolute;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	margin: auto;
	cursor: pointer;
}

span.et_close_search_field:after {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "ETmodules";
	font-size: 32px;
	font-weight: normal;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	text-transform: none;
	content: "\4d";

	speak: none;
}

.container.et_menu_container {
	z-index: 99;
}

.container.et_search_form_container.et_pb_search_form_hidden {
	z-index: 1 !important;
}

.et_search_outer {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.container.et_pb_menu_hidden {
	z-index: -1;
}

form.et-search-form {
	background: rgba(0, 0, 0, 0) !important;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
h6.sc_services_item_title {
    padding-bottom: 0.75em;
    color: #262626;
    font-size: 1.5em;
    font-weight: bold;
}

@media(max-width:980px){
	

	#et_top_search {
		display: none;
	}
	#top-menu {
		display: none;
	}
#et_mobile_nav_menu .select_page {
    display: none;
}
#mobile_menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 0;
    -webkit-box-shadow: 0 30px 30px 0 rgba(0,0,0,0.25);
            box-shadow: 0 30px 30px 0 rgba(0,0,0,0.25);
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.85s;
    -o-transition: all 0.85s;
    transition: all 0.85s;
}
#mobile_menu.m-menu-active {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60vh;
}
#mobile_menu li a {
    color: #303030;
    padding: 10px 5%;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    display: block;
}
.mobile_menu_bar {
    font-size: 26px;
}

.mobile_menu_bar::before{
display:none;	
}	
body {
    padding-top: 66px;
}
.infoc-txt {
    padding: 20px 0;
}
#main-header, #top-header{
    position: fixed;
}
#main-header, #main-header {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
 #main-header, #top-header{
    position: fixed;
}
.et_mobile_menu {
    visibility: visible;
    position: absolute;
    z-index: 9999;
    left: 0;
    width: 100%;
    padding: 5%;
    border-top: 3px solid #4e53b5;
        border-top-color: #4e53b5;
    opacity: 1;
    background: #fff;
        background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu {
    background-color: #ffffff;
}

#logo, .logo_container, #main-header, .container {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
#main-header, #top-header {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
#logo {
    max-height: 85% !important;
    -webkit-transform: none !important;
}

 #logo {
    max-width: 50%;
}


#et_mobile_nav_menu {
    display: none;
    float: right;
}
#et_mobile_nav_menu {
    display: block;
}

.mobile_menu_bar::before {
    position: relative;
    top: 0;
    left: 0;
    font-size: 32px;
    content: "\61";
    cursor: pointer;
}
}
/*---------------------------Header CSS----------------------------------*/





@media(max-width:1199px){ 
	.timing_sec .margin_btm{
		margin-left: 0px !important;
	} 
	.seprator{
		display: none;
	}
	 
	.hrr{
		display: block;
	}
	.timing_sec .input-group.date{
		 width:100% !important; 
		 /* max-width: 310px; */
	}

	.table-responsive{
	   overflow-x: auto;
	}	
} 

@media(max-width:991px){ 
	.timing_sec .datetimepicker{
		margin-bottom: 12px;
	} 
	
	.timing_sec .input-group.date{
		 width:100% !important;  
		 max-width: 433px;
	} 
}


@media(max-width:767px){
	.dtable_custom_controls {
		position: static;
		z-index: 50;
		margin-left: 0;
		margin-top: -3px;
	}
	/* .name {
		display: none;
	} */
	.login-logo, .register-logo{
		margin-bottom:5px
	}
	.panel-register {
		padding:10px 0;
	}
	.login-banner img {
		display: none;
	}
	.main-header .navbar-custom-menu, .main-header .navbar-right{
		margin-right: 3px;
	}
	.main-header .logo{font-size:16px;padding:10px 10px}
	.navbar-custom-menu .navbar-nav > li > a{line-height:30px}
	.timing_sec .margin_btm,.timing_sec .checkbox{
		margin-left: 0px !important;
	} 
	/* .timing_sec .datetimepicker{
		margin-bottom: 12px;
	}  */
	.timing_sec .input-group.date{
		/* width:100% !important; */
		max-width:350px;	
	}	
	
	.seprator{
		display: none;
	}
	/* .hrr{
		display: block;
	} */ 
	
	.analysis-form .form-control {
    margin-bottom: 20px;
}
.analysis-form .form-group {
    margin: 0;
}
.btn-group.bootstrap-select {
    margin-bottom: 20px !important;
}
.login-fd img {
    width: 150px;
    margin-bottom: 20px;
}
.login-fd h1 {
    padding: 10px 0 15px 0;
    font-size: 22px;
}
.login-fd p {
    font-size: 14px;
    margin-bottom: 20px;
}

} 
