@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800,800i');
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 26px;
	color: #413c35;
	background-color: #ffffff;
}
.login-wraper {

    width: 100%;
    display: inline-block;
    margin: 7% 0 7% 0;

}
.panel-register {
    color: #66757f;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
	text-align: center;
}

.panel-register h6 {
    font-size: 14px;
    margin-top: 20px;
}
.panel-register .btn-twitter {
    position: relative;
    transition: all 0.2s ease;
    margin: 65px 0 39px;
    padding: 19px 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}
.twitter {
    color: #fff !important;
    background-color: #00aff0;
    border-color: #ccc;
	padding: 16px 38px;
	font-size: 16px;
	line-height: 1.42857;
	border-radius: 3px;
	font-weight: 300;
	text-decoration: none;
	margin: 20px 0 0 0;
    display: inline-block;
	width: 100%;
}
.twitter:hover
 {
 text-decoration: none;
 }
 .twitter .fa {
    font-size: 22px;
    padding-left: 20px;
	transition: all 0.2s ease;
}
.fa-twitter:before {
    content: "\f099";
}
.trough {
    position: relative;
    display: block;
    overflow: hidden;
    clear: both;
    color: #acb7c0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px 0 21px;
    margin: 20px 0;
	text-align: center;
}
.trough:before {
    right: 50%;
    margin-right: 23px;
}
.trough:after {
    left: 50%;
    margin-left: 23px;
}
.trough:before, .trough:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 50%;
    top: 50%;
    background: #acb7c0;
}

#sign_up .form-group {
    position: relative;
}
.panel-register .form-group {
    margin-bottom: 27px;
}
.panel-register .form-control {
    font-size: 15px;
    padding: 18px 14px;
    height: 60px;
    font-weight: 300;
    border-color: #acb7c0;
}
.panel-register .btn-login {
    padding: 19px 35px;
    border: none;
    margin-right: 20px;
	    color: #fff !important;
    background-color: #00aff0;
}
.panel-register a.forgot {
    color: #65757f;
    text-transform: capitalize;
    margin: 20px 0;
}

.footer_wrapper {
    color: #67757e;
    background: #fff;
    border-top: 1px solid #dadada;
    font-weight: 300;
    padding: 24px 0;
    color: #67757e;
    font-weight: 300;
    width: 100%;
    display: inline-block;
}
.copyright ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
}
.copyright ul li {
    display: inline-block;
    padding-right: 20px;
    font-size: 18px;
}
.copyright ul li a
 {
	color: #67757e;
	font-weight: 300;
 }
.footer_nav ul li {
    display: inline-block;
    padding: 0 10px;
}
.footer_nav ul {
    margin: 0px;
    padding: 0;
}
.footer_nav {
    float: right;
}
.footer_nav ul li a {
    color: #67757e;
}
.footer_nav ul li a:hover{
	text-decoration:none;
}
.copyright li:first-child a {
    font-size: 14px;
}
.footer_nav ul li a:hover {
    text-decoration: none;
    color: #00aff0;
}
.copyright ul li a:hover, .footer_nav ul li a:hover {
    color: #00aff0;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: none;
    background-color: #00aff0;
    color: #fff;
}
.btn-default:hover {
    background-color: #00aff0;
    color: #fff;
    border-color: transparent;
}

/********************* FEED PAGE *************************************/

.navbar-right .user a {

    padding-top: 9px;
    padding-bottom: 9px;

}
.nav-r li a span {
    color: #fff;
	transition: all 0.2s ease;
	}
	
.nav-r li a span:hover {
    color: #036083;
}
	
	
.navbar-inverse {

    background-color: #00aff0;
    border-color: transparent;

}
.navbar-inverse .navbar-nav > li > a{
    padding-left: 0;
    padding-right: 0px;
    color: #fff;
	transition: all 0.2s ease;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #036083;
    outline: none;
}

.brand-logo {
    padding-top: 10px;
}
.brand-logo img {
    width: 180px;
    padding: 0 0 0 0;
    margin: 0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: transparent;
}
.navbar-nav > li >.dropdown-menu{
    color: #606060;
    font-weight: 300;
    font-size: 13px;
    line-height: 30px;
}
.nav-r li {
    padding: 0 5px;
}
.divider {
    padding-right: 5px;
}
.dropdown .fa {
    padding-right: 10px;
}
.full-cont-nav {
    margin: 0 14%;
}
.credits {
    background-color: #000;
    padding: 1px 12px !important;
    margin: 0 0 0 6px;
	transition: all 0.2s ease;
}
.credits:hover {
    background-color: #0ae349;
}
.navbar-fixed-top {
    border-width: 0 0 0px;
}

.note-no {

    width: 15px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
    color: #000 !important;
    text-align: center;
    font-size: 10px;
    top: 4px;
    position: absolute;
    line-height: 14px;
    border-radius: 20px;
    right: -10px;

}
.fa-rss {
    font-size: 16px;
}

.fa-fire::before {
    font-size: 16px;
}
/***************************** Mobile search bar ***********************/


.mobile-searchbar {
    background: #333;
    padding: 15px 0;
    margin-top: 51px;
}

.mobile-searchbar .form-control {
    min-height: 40px;
    border-radius: 0;
    border: none;
}
.btn.btn-default {

    background: #00aff0;
    border: 1px solid #00aff0;
        border-top-color: rgb(0, 200, 219);
        border-right-color: rgb(0, 200, 219);
        border-bottom-color: rgb(0, 200, 219);
        border-left-color: rgb(0, 200, 219);
    color: #fff;

}
.mobile-searchbar .btn.btn-default {
    border-color: #00aff0;
    border-radius: 0;
    min-height: 40px;
    min-width: 90px;
}
.mobile-searchbar .input-group-btn::after {

    right: 100%;
    top: 50%;
    border: solid transparent;
        border-top-color: transparent;
        border-top-width: medium;
        border-right-color: transparent;
        border-right-width: medium;
        border-bottom-color: transparent;
        border-bottom-width: medium;
        border-left-color: transparent;
        border-left-width: medium;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(1, 212, 231, 0);
        border-right-color: rgba(1, 212, 231, 0);
    border-right-color: #00aff0;
    border-width: 6px;
    margin-top: -6px;
    z-index: 9;

}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.main-container {
    width: 100%;
    display: inline-block;
    margin: 100px 0 40px 0;
}

.panel-wrap .thumb, .panel-wrap .panel-cont {
    display: table-cell;
    vertical-align: top;
}
.panel-wrap .thumb img {
    height: auto;
    object-fit: cover;
    width: 130px;
}
.panel-wrap .panel-cont {
    padding-left: 18px;
}
.panel-txt-img h5 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: #000;
	padding-bottom: 8px;
	font-weight: 600;
}
.panel-txt-img h5 span {
    font-size: 14px;
    color: #404040;
    padding-left: 10px;
	font-weight: 400;
}
.panel-txt-img p {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 10px;
}
.actions {
    padding: 15px 0;
}
.ac {
    color: #969696;
    padding-right: 15px;
    text-decoration: none;
}
.reveal p {
    float: left;
    padding-right: 16px;
}
.reveal a {
    background-color: #00aff0;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
	transition: all 0.2s ease;
}
.reveal a:hover {
    background-color: #0097cf;
    color: #fff;
    text-decoration: none;
}
.ac:hover {
    color: #0097cf;
    text-decoration: none;
}

.reply .thumb1, .reply .panel-cont1 {
    display: table-cell;
    vertical-align: top;
}
.reply {
    width: 100%;
    display: inline-block;
}
.panel-cont1 {
    padding-left: 18px;
}
.panel-tg .actions {
    padding: 0px;
}
.panel-tg p a {
    padding-left: 10px;
    text-decoration: none;
}
.panel-tg p {
    padding: 0;
}
.thumb1 img {
    width: 130px;
}
.reply {

    width: 100%;
    display: inline-block;
    background-color: #eff1f3;
    padding: 20px 10px;

}
.panel-ac{
    font-size: 16px;
    color: #000;
    padding-top: 15px;
    display: inline-block;
    font-weight: 500;
}
.panel-ac:hover {
    color: #007fc0;
    text-decoration: none;
}
.line {
    height: 1px;
    background-color: #c0c0c0;
    margin-top: 30px;
	margin-bottom: 40px;
}
.margin-top {
    margin-top: 80px;
}
.load {

    width: 100%;
    text-align: center;

}
.load a {

    padding: 10px 20px;
    background-color: #00aff0;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;

}
.thumb1, .thumb {
    width: 68px;
	position: relative;
}
.panel-txt-img h5 a {
    color: #000;
    text-decoration: none;
}
.user-friends h1 {
    font-size: 22px;
    color: #000;
    padding: 26px 0 20px 0;
    margin: 0;
}
.user-cont {
    position: relative;
    display: block;
}

.heart {
    position: absolute;
    top: 38px;
    left: 38px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0ae349;
    z-index: 1;
}
.img {
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
	float: left;
}
.user-friends {

    width: 100%;
    display: inline-block;
    background-color: #eff1f3;
    padding: 20px;

}
.user-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
     justify-content: space-between;
    -ms-flex-wrap: wrap;
     flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
	 border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
    margin: 20px 0px;
}

.user-des {
    float: left;
    padding-left: 20px;
}
.user-des h5 {
    margin: 0;
    padding: 3px 0 2px 0;
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
}
.user-des h5 a {
    color: #000;
    text-decoration: none;
}
.add-user .fa-plus-circle {
    color: #ccc;
    font-size: 24px;
	transition: all 0.2s ease;

}
.add-user .fa-plus-circle:hover {
    color: #00aff0;
}
.add-cont
{
 position:relative;
}
.add-cont::before {
    background: rgba(0,0,0,0.55);
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}
.add-cont h1 {
    position: absolute;
    top: 41%;
    text-align: center;
    left: 0px;
    right: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.add-cont {
    position: relative;
    margin: 40px 0 20px 0;
    display: block;
}

.navbar-right {
    margin-right: 0;
}

.fa-check {
    position: absolute;
    top: 53px;
    color: #fff;
    width: 15px;
    height: 15px;
    background: #00aff0;
    text-align: center;
    line-height: 14px;
    font-size: 9px;
    border-radius: 50%;
    right: 0;
}
.add-cont img {
    width: 100%;
}
.ctm-btn .btn-default {
    top: 12px;
    position: absolute;
    right: 12px;

}

.ctm-btn .form-control
{
padding-right: 44px;
}
.md-ttl img {
    float: left;
    padding-right: 20px;
}
.ur-nm{
    font-size: 20px;
    display: inline-block;
    padding: 20px 0;
}

.md-header {
    padding: 0;
    background-color: #fff;
    color: #00aff0;
}

.md-header .close {
    margin: -43px 0 0 0;
    border: 2px solid #000;
    padding: 6px 6px;
    border-radius: 50%;
    line-height: 11px;
}

.reveal-cont {
    display: inline-block;
    padding: 40px 0;
}
.rvl-img h6 {
    padding: 16px 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    border: 1px solid #ccc;
	background-color: #eff1f3;
}

.rvl-txt {
    background-color: #00aff0;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
    margin-top: 10px;
	width: 100%;
}
.rvl-txt h2 {
    padding: 0;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.square-btn {
    display: inline-block;
    padding: 6px 0px;
    background-color: #017dab;
    color: #fff;
    width: 86%;
    font-size: 15px;
    margin: 10px 0;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.square-btn:hover,.square-btn:focus {
    background-color: #000;
    color: #fff;
    text-decoration: none;
	outline:none
}
.reveal-bnt {
    background-color: #fff;
    padding: 8px 25px;
    border-radius: 2px;
    margin: 2px 0;
    display: inline-block;
    text-decoration: none;
	transition: all 0.2s ease;
}
.reveal-bnt:hover, .reveal-bnt:focus
{
    background-color: #017dab;
    color: #fff;
    text-decoration: none;
	outline:none
}
a:focus {

    outline: none;
    text-decoration: none;

}

.inner-banner {
    background-image: url("../images/following-banner.jpg");
    background-repeat: no-repeat;
    margin: 52px 0 0 0;
}

.img-fw {
    width: 90px;
    height: 90px;
}

.follow-urimg h1 {
    margin: 25px 0;
    float: left;
    padding-left: 20px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}
.follow-urimg h1 a {
    color: #fff;
	text-decoration:none;
}
.follow-urimg {
    display: inline-block;
    width: 100%;
    padding: 40px 0;
}
.follow-nav ul {
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
}
.follow-nav ul li {
    display: inline-block;
    font-size: 16px;
    color: #000;
}

.follow-nav a {
    color: #505050;
    text-decoration: none;
    padding: 17px 30px;
    display: inline-block;
    transition: all 0.2s ease;
    border-bottom: 0 solid;
    height: 60px;
}

.follow-nav a:hover, .follow-nav a:focus {
color:#00aff0;
border-bottom-width: 2px;

}
.follow-nav ul li:first-child {
    padding-left: 0px;
}
.follow-nav-cont {
    width: 100%;
    display: inline-block;
    background-color: #eff1f3;
    margin-top: -7px;
    box-shadow: 0px 2px 6px 0px #ccc;
}

.following-sec {
    background-color: #eff1f3;
    padding: 22px 15px;
}

.follow-box {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    margin: 0 10px;
}
.follow-img {
    position: absolute;
    left: 10px;
    width: 70px;
    height: 70px;
    bottom: -27px;
}
.banner-pro {

    position: relative;
    top: 0;
    bottom: 0;
    display: inline-block;
	width: 100%;

}
.flw-action {
    float: right;
    padding: 3px 10px;
    background-color: #00aff0;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    margin: 7px 10px 7px 0;
    font-size: 14px;
	transition: all 0.2s ease;
}
.flw-action:hover, .flw-action:focus {

    background-color: #0394cb;
    text-decoration: none;
    color: #fff;

}
.follow-user {

    display: inline-block;
    padding: 0px 10px;
	width: 100%;

}
.follow-user h4 {
    margin: 0;
    padding: 8px 0 0 0;
}
.follow-user h4 a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
	transition: all 0.2s ease;
}
.follow-user h6 {
    margin: 0;
    padding: 8px 0;
    font-size: 13px;
}

.follow-user h6 a {
    color: #707070;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease;
}
.follow-user h4 a:hover, .follow-user h4 a:focus, .follow-user h6 a:hover, .follow-user h6 a:focus 
{
color: #00aff0;
text-decoration:none;
}
.follow-user p {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

.following-cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.margin-bottom{
 margin-bottom: 20px;
}
.flow-pbanner {
    width: 100%;
}
.edit-profile a {
    padding: 8px 14px;
    font-size: 16px;
    background-color: #00aff0;
    color: #fff;
    margin: 8px 0;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
	transition: all 0.2s ease;
}

.edit-profile a:hover {

    background-color: #039bd4;

}

.edit-profile {

    text-align: center;

}

/************************** Profile Page ********************************/


.profile-box {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 23px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #eff1f3;
    margin-bottom: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.post-img {

    width: 100%;
    margin-left: 24px;
    position: relative;

}

.post-img a {
    padding: 10px 13px;
    background-color: #cbcdcf;
    color: #eff1f3;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.post-img .form-control {

    border: 0px;
    background-color: transparent;
    box-shadow: none;
    padding-left: 0px;
    padding-right: 58px;
    white-space: normal;
    word-wrap: break-word;

}

.dbd-user {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -10px;
    left: 16px;
}

.banner-pro span {
    margin-top: 13px;
    font-size: 20px;
    float: right;
    color: #000;
    font-weight: 400;

}
.dbd-nav {
    margin-top: 30px;
}
.dbd-nav li a .fa {
    margin-right: 15px;
}
.dbd-nav .fa-angle-right {
    float: right;
    margin-top: 4px;
}
.dbd-nav {
    margin-top: 20px;
}

.dbd-nav li a {
    border-radius: 0px !important;
    background-color: #eff1f3;
    color: #535353;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: -2px;
    padding: 16px 20px;
}

.dbd-nav  > li.active > a, .dbd-nav  > li.active > a:focus, .dbd-nav > li.active > a:hover {

    color: #fff;
    background-color: #00aff0 !important;

}
.dbd-right-cont {
    background-color: #eff1f3;
    height: 100%;
}
.dbd-right-cont h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0 0 20px 0;
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px solid #A9A9A9;
}
.add-code {
    margin: 13px 0 0 0;
}
.pb-ns {
    position: relative;
}
.add-code label {
    font-weight: 500;
}
.add-code .input {
    border-bottom: 1px solid #ccc;
    padding-left: 0px;
    font-size: 16px;
    font-family: muli;
}
.input:invalid {
    box-shadow: none;
}
.input {
    height: 33px;
    display: block;
    margin: 0 auto 30px;
    padding: 0px;
        padding-left: 0px;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #9E9E9E;
    border-bottom-color: rgb(158, 158, 158);
    background-color: transparent;
    width: 100%;
}
.pb-ns .fa-check {
    position: absolute;
    right: 8px;
    top: 44px;
    width: 0;
    height: 0;
    color: #00aff0;
    margin-right: 10px;
}
.ar-top-title {
    display: flex;
    margin: 10px 0;
}
.all-btn {
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    min-width: 100px;
    width: 100%;
}
.add-code1 {
    margin-left: 0;
}
.add-code1 label {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
}
.all-btn .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.all-btn .btn-default {
    color: #00aff0;
    background-color: transparent;
    border-color: transparent;
}
.crdsl-fields {
    padding:60px 30px;
}
.save-btn {
    text-align: center;
    margin-bottom: 30px;
}
.save-btn a {
    padding: 10px 30px;
    background-color: #00aff0;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0;
    display: inline-block;
    text-decoration: none;
	transition: all 0.2s ease;
}
.save-btn a:hover, .save-btn a:focus, .btn-bs-file:hover, .btn-bs-file:focus {
    background-color: #0289bc;
}

.dash-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.dash-tabs::before, .dash-tabs::after{
display:none;
}
.browser {
    margin: 20px 0 30px 0;
}
.btn-bs-file {
    position: relative;
    padding: 12px 30px;
    border: 0px;
    border-radius: 3px;
    margin: -4px 6px 0 0;
    background-color: #00aff0;
    transition: all 0.2s ease;
    font-size: 16px;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

.refer {
    text-align: left;
    margin-bottom: 0;
}
.refer a {
    margin-right: 10px;
}
.refe-cls {
    background-color: #fff;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	margin-bottom: 30px;
}
.refe-cls h6 {

    margin: 5px 12px;
    padding: 0 0 0 5px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    line-height: 32px;
    position: relative;
    width: 100%;
    display: inline-block;

}
.refe-cls h6 .fa-check {
    position: absolute;
    left: -16px;
    top: 8px;
    background-color: transparent;
    color: #00aff0;
}
.refe-cls span {
    color: #039dd7;
    font-weight: 600;
}
.r-ads .tur-table th, .r-ads .tur-table td {
    text-align: center;
}
.btn-default.btn-login[disabled] {
   background: #00aff0 !important;
}
/*************************** Media Query  ********************************/
@media(max-width:1400px) {
.full-cont-nav {

    margin: 0 10%;

}


.flw-action {
    padding: 0px 10px;
    margin: 7px 10px 7px 0;
    font-size: 12px;
}
.follow-box {
    margin: 0 5px;
}
.refer a {
    padding: 5px 9px;
}
.refe-cls h6 {
    font-size: 14px;
	}
.refe-cls {
    padding: 14px;
	}
}
@media(max-width:1199px) {
.twitter {
    padding: 16px 20px;
	margin:0px;
	}
.panel-register h6 {
    line-height: 30px;
	margin-top: 10px;
}
.panel-register .form-control {
    height: 45px;
}
.panel-register .form-group {
    margin-bottom: 20px;
}	
.panel-register .btn-login {
    padding: 16px 20px;
    border: none;
    margin-right: 0;
    font-size: 15px;
}
.panel-register a.forgot {
    font-size: 14px;
}
.trough
{
margin:0px;
}	
.full-cont-nav {
    margin: 0px 2%;
}
}

@media(max-width:991px) {

.trough {
    margin: 10px 0;
}
.panel-register .form-group {
    margin-bottom: 30px;
}
.login-text {
    margin-top: 20px;
}

.note-no {
    left: 10px;
    top: 0px;
}
.divider {

    display: none;

}
.navbar-nav > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navbar-nav > li > a .icon-img {
    margin-right: 10px;
}
.user-img img {
    padding-right: 10px;
}
.navbar-nav > li > a .fa {
    padding-right: 10px;
}
/****************************************/

 .navbar-header {
       float: none;
   }
   .navbar-left,.navbar-right {
       float: none !important;
   }
   .navbar-toggle {
       display: block;
   }
   .navbar-collapse {
       border-top: 1px solid transparent;
       box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
   }
   .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
   .navbar-collapse.collapse {
       display: none!important;
   }
   .navbar-nav {
       float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
       float: none;
   }
   .navbar-nav>li>a {
       padding-top: 10px;
       padding-bottom: 10px;
   }
   .collapse.in{
         display:block !important;
    }
.divider {
    float: left;

}


.credits {
    width: 116px;
}
.bg-line {
    display: none;
}

.navbar-nav {
    margin-bottom: 10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {

    background-color: transparent;

}

.user-friends {
    margin-top: 30px;
}
.rvl-img img {
    width: 100%;
}
.square-btn {

    display: inline-block;
    padding: 8px 25px;
	margin:0px;
	}
	
.rvl-txt a {
    margin: 20px 5px 0 5px;
}

.rvl-txt {
    padding: 40px 10px;
}
.reveal-bnt {
    width: 86%;
}

.follow-urimg h1 {
    margin: 30px 0;
    font-size: 27px;
}
.inner-banner {
    margin: 0px 0 0 0;

}
.follow-nav a {
    padding: 17px 17px;
	}
/***************************************************/
.crdsl-fields {
    padding: 0px 30px;
}
.dbd-nav li a {
    padding: 16px 10px;
}
.dbd-nav li a .fa {
    margin-right: 6px;
}
.dbd-user {
    width: 70px;
    height: 70px;
    bottom: 0px;
    left: 10px;
}
.banner-pro span {
    margin-top: 8px;
    font-size: 16px;
}

}

@media(max-width:767px) {

.follow-nav a {
    padding: 12px 5px;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
}	

.following-cont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}

.follow-box {
    display: inline-block;
    width: 31%;
	margin-bottom:10px;
	
	
	}
.follow-box:last-child {

    margin-bottom: 0px;

}
.main-container {
    margin: 0px;
}



.login-banner {
    margin-bottom: 0px;
}
.copyright {
    text-align: center;
}
.copyright ul li {
    padding: 0 10px;
	}
.footer_nav {
    float: none;
    text-align: center;
    padding: 10px 0;
}	

.login-banner img {
    display: none;
}
.navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
color:#fff;
}


.ac {
    padding-right: 6px;
    font-size: 12px;
}
.reveal p {
    padding-right: 10px;
    font-size: 13px;
}
.reveal a {
    padding: 6px 6px;
    font-size: 14px;
}
.main-container {
    margin: 30px 0 40px 0;
}
.panel-wrap .panel-cont, .panel-cont1 {
    padding-left: 0;
    padding-top: 20px;
}
.panel-wrap .thumb, .panel-wrap .panel-cont, .reply .thumb1, .reply .panel-cont1 {
    display: table;
    vertical-align: top;
}
.panel-txt-img p {
    font-size: 14px;
	}
	
.follow-nav {
    text-align: center;
}	

.follow-nav a:hover, .follow-nav a:focus {
    border-bottom-width: 0;
}
/*************************************/
.crdsl-fields {
    padding: 0px 0px 30px 0;
}
.dbd-right-cont {
    margin-top: 20px;
}

	
}


@media(max-width:640px) {
.edit-profile a {
    padding: 5px 14px;
    font-size: 14px;
    margin: 2px 0 13px 0;
}

.follow-box {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

}

@media(max-width:350px) {


.follow-nav a {
    padding: 12px 2px;
    font-size: 12px;
}

}